/* body {
  margin-top: -100px!important;
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

html, body {
    height: 100%;
} */